<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 启用soring注解支持 -->
	<context:annotation-config />

	<!-- 第一种方法配置sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<property name="mappingLocations">
			<list>
				<value>WEB-INF/classes/com/fc/framework/web/entity/hibernate/*</value>
			</list>
		</property>
	</bean>
	
	<!-- 第一种方法配置事务-->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" abstract="false" lazy-init="default" autowire="default">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<tx:advice id="txadvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" rollback-for="Exception"/>
		</tx:attributes>
	</tx:advice> 
	
	<aop:config>
		<aop:pointcut id="daoMethods" expression="execution(public * service.*.*(..))"/>
		<aop:advisor advice-ref="txadvice" pointcut-ref="daoMethods"/>
	</aop:config>
	
	<!-- spring管理的自定义filter -->
	<bean id="myFilter" class="com.fc.framework.web.filter.MyFilter"></bean>
	
	<!-- spring管理struts2的Action -->
	<bean id="myInterceptor" class="com.fc.framework.web.filter.MyInterceptor" scope="prototype"></bean>
	
</beans>